<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Smeedee - A management tool for agile projects</title>
<link rel="stylesheet" type="text/css" href="css/styles.css" />
${self.custom_page_script()}
</head>

<body>
<div id="stripes"></div>
<div id="wrap">
    <div id="menu">
        <dl>
            ${self.menu()}
        </dl>
        <div id="logo"></div>
    </div>
    

    <div id="illustration">
        ${self.illustration()}
    </div>
    

    <div id="textbox">
        ${self.rounded_corner_boxes()}

        <div id="textcontent">
        	
            <div class="contentRight">
                ${self.contentright()}
            </div>
            <div class="contentLeft">
                ${self.body()}
            </div>
            <div class="break"></div>    

        </div>
    </div>
    
    <div id="footer" style="color:#FFF" />

</div>

</body>
</html>

##
## Block definitions.
##

## Right content of main view
<%def name='contentright()'>
    ## If you want to expand this menu, e.g. in a subclass, you can override
    ## this method, and add to it. E.g.:
    ## <%def name='contentright()'>
    ##     ${parent.contentright()}
    ##     Some extra html here.
    ## </%def>
    <h1>SoC 2011 Blog</h1>
    <p>
    Read our <a href="doc_blog.html">developer blog</a> from Summer of Code 2011.</p>

    <h1>Get Smeedee</h1>
    <a href="http://folk.ntnu.no/dagolap/smeedee/releases/Smeedee-1.0.0beta1.msi" class="downloadButton"></a>
    &nbsp;<br />
    <p>
        Current version: 1.0.0beta1
    </p>
    <h1>News</h1>
    <p>First beta release now available for download.</p>
    <p>Thanks to Capgemini, JetBrains and Atlassian for supplying us with the means necessary to work on this project. <a href="doc_major_contributors.html">Read about our contributors here.</a></p>
    <p class="small">May 23rd 2011</p>
</%def>

## Top main menu
<%def name='menu()'>
            ## If you want to expand this menu, e.g. in a subclass, you can override
            ## this method, and add to it. E.g.:
            ## <%def name='menu()'>
            ##     ${parent.menu()}
            ##     Some extra html here.
            ## </%def>
            <dt><a href="index.html">Home</a></dt>
            <dt><a href="doc_screenshots.html">Screenshots</a></dt>
            <dt><a href="download.html">Download</a></dt>
            <dt><a href="doc_faq.html">FAQ</a></dt>
            <dt><a href="doc_start.html">Documentation</a></dt>
            <dt><a href="doc_contact.html">Contact</a></dt>
</%def>

## Room for illustration before text body
<%def name='illustration()'>
</%def>

## Room for custom page javascript
<%def name='custom_page_script()'>
</%def>

## Boxes used to create rounded corners
<%def name='rounded_corner_boxes()'>
        <div id="top">
            <b class="b5"></b>
            <b class="b4"></b>
            <b class="b3"></b>
            <b class="b2"></b>
            <b class="b1"></b>
        </div>
        <div id="bot">
            <b class="b1"></b>
            <b class="b2"></b>
            <b class="b3"></b>
            <b class="b4"></b>
            <b class="b5"></b>
        </div>
</%def>
