<%inherit file="base.html"/>

<%def name='contentright()'>
    ## If you want to expand this menu, e.g. in a subclass, you can override
    ## this method, and add to it. E.g.:
    ## <%def name='contentright()'>
    ##     ${parent.contentright()}
    ##     Some extra html here.
    ## </%def>
    <h1>Documentation</h1>
    <ul>
        <li><a href="doc_faq.html">FAQ</a></li>
        <li><a href="doc_troubleshooting.html">Troubleshooting</a></li>
    </ul>
    <h1>For contributors</h1>
    <ul>
        <li><a href="dev_getting_started.html">Getting started</a></li>
        <li><a href="dev_detailed_intro.html">Detailed introduction</a></li>
        <li><a href="dev_architecture_overview.html">Architecture overview</a></li>
    </ul> 
</%def>

