<%inherit file="base.html"/>

## Javascript illustration animator
## The images used here should be 500x230
<%def name='illustration()'>
            <p class="buttons" id="handles">
                <span><b></b></span>
                <span><b></b></span>
                <span><b></b></span>
                <span><b></b></span>
                <span><b></b></span>
            </p>
            <div class="mask">
                <div id="slider">
        
                    <div>
                        <img src="images/code.png" alt="Photo" />
                        <h3>More time for the fun stuff</h3>
                        <p>
                        Coding that is! Smeedee helps you avoid scouring
                        through the various information tools to get the
                        information you want, and instead delivers what is
                        important straight to your work environment.
                        </p>
                    </div>
        
                    <div>
                        <img src="images/various_screenshots.png" alt="Photo" />
                        <h3>Visualize it all</h3>
                        <p>
                        Smeedee helps you visualize a variety of information
                        about your software projects, including Source Control,
                        Continuous Integration, Project Management tools and
                        gives you a "real world" view of the time at your
                        disposal.
                        </p>
                    </div>
        
                    <div>
                        <img src="images/various_screenshots.png" alt="Photo" />
                        <h3>Integrates easily</h3>
                        <p>
                        Smeedee easily integrates into your existing systems,
                        supporting widely used software such as TFS, Team City,
                        Subversion and many others.
                        </p>
                        <p>
                        And if Smeedee doesn't support the systems you use
                        today, writing new integration code for Smeedee is a
                        breeze!
                        <p/>
                    </div>
        
                    <div>
                        <img src="images/extendable.png" alt="Photo" />
                        <h3>Easily extendable</h3>
                        <p>
                        Creating new widgets and integration code for Smeedee
                        is very easy.
                        </p>
                        <p>
                        Want to know more? Take a look at our 
                        <a href="documentation.html">Documentation</a>.
                        </p>
                    </div>
        
                    <div>
                        <img src="images/unit_tests.png" alt="Photo" />
                        <h3>Encourage Quality</h3>
                        <p>
                            Smeedee informs your team when something happens
                            allowing your team to react quickly to broken
                            builds and stay up to date on what happens in the
                            code base with commit messages being immediately
                            pushed to the work environment.
                        </p>
                        <p>
                        </p>
                    </div>        
                </div>
            </div>
</%def>

## Javascript for fancy image slideshow-stuff
<%def name='custom_page_script()'>
    <script type="text/javascript" src="js/mootools-1.2-core.js"></script>
    <script type="text/javascript" src="js/noobslide.js"></script>
    <link rel="stylesheet" href="css/noobslide.css" type="text/css" media="screen" />
    <script type="text/javascript">
    window.addEvent('domready',function(){
            var nS4 = new noobSlide({
                box: $('slider'),
                items: $$('#slider div'),
                size: 800,
                handles: $$('#handles span b'),
                autoPlay: true,
                interval: 10000,
                onWalk: function(currentItem,currentHandle){
                    this.handles.removeClass('active');
                    currentHandle.addClass('active');
                }
                
            });
        });
    </script>
</%def>
